body{
    background: rgb(239, 98, 32);
    font-family: fantasy;
    height: 100%;
}

.wrapper{
    width: 800px;
    margin: 150px auto;
    color: white;
    text-align: center;
}

h1 , h2 , h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
}

#seconds, #tens{
    font-size: 2em;
}

button{
    background: rgb(24, 11, 210);
    color: rgb(195, 195, 189);
    border: solid 1px white;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}

button:hover{
    background-color: wheat;
    border: solid 1px white;
    color: orange;
}